@font-face {
  font-family: "Muller";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/MullerRegular.woff2") format("woff2"),
    url("../../fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-family: "Muller";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/MullerUltraLight.woff2") format("woff2"),
    url("../../fonts/MullerUltraLight.woff") format("woff");
}

@font-face {
  font-family: "YesevaOne";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/YesevaOne-Regular.woff2") format("woff2"),
    url("../../fonts/YesevaOne-Regular.woff") format("woff");
}

$Muller: "Muller", "Arial", sans-serif;
$YesevaOne: "YesevaOne", "Play Fair", sans-serif;