.chapter-card {
    position: relative;
    display: flex;
    border: 1px solid #161616;
    border-radius: 25px;
    position: relative;
    min-height: 281px;
    overflow: hidden;

    &--pink {
        background-color: $pink-color;

        @media (max-width: 440px) {
            &::before {
                background-image: url("../../images/chapters-items/chapters-bg-1.jpg");
            }
        }
    }

    &--grey {
        background-color: $grey-color;

        @media (max-width: 440px) {
            &::before {
                background-image: url("../../images/chapters-items/chapters-bg-2.jpg");
            }
        }
    }

    &--yellow {
        background-color: $yellow-color;

        @media (max-width: 440px) {
            &::before {
                background-image: url("../../images/chapters-items/chapters-bg-3.jpg");
            }
        }
    }

    &--blue {
        background-color: $grey-blue-color;

        @media (max-width: 440px) {
            &::before {
                background-image: url("../../images/chapters-items/chapters-bg-4.jpg");
            }
        }
    }

    &--blue .chapter-card__text-block p {
        color: #FFFFFF;
    }

    @media (max-width: 440px) {
        overflow: visible;
        border-radius: 0;
        min-height: auto;

        &::before {
            content: '';
            position: absolute;
            opacity: 20%;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.chapter-card__text-block {
    max-width: 500px;
    min-width: 386px;
    padding: 44px 30px 15px;
    position: relative;
    box-sizing: border-box;
    z-index: 2;

    @media (max-width: 768px) {
        max-width: 440px;
    }

    @media (max-width: 440px) {
        min-width: auto;
        padding: 21px 18px 27px;
    }
}

.chapter-card__heading {
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;

    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%) translateX(45%) rotate(-90deg);
    z-index: 3;

    @media (max-width: 440px) {
        top: -15px;
        transform: none;
        font-size: 25px;
        color: $text-black;
        line-height: 110%;
        left: 18px;
        right: auto;
    }
}

.chapter-card__pic-block {
    width: 67%;
    height: auto;
    background-size: cover;
    background-position: 50% 70%;
    position: relative;

    &--pink {
        background-image: url("../../images/popular-card/card-1.jpg");

        &::before {
            content: '';
            width: 25%;
            height: 100%;
            position: absolute;
            left: 0;
            background: linear-gradient(90deg, #A8455D 0%, rgba(95, 113, 148, 0) 100%);
        }
    }

    &--grey {
        background-image: url("../../images/popular-card/card-2.jpg");

        &::before {
            content: '';
            width: 25%;
            height: 100%;
            position: absolute;
            left: 0;
            background: linear-gradient(90deg, #7B8198 0%, rgba(95, 113, 148, 0) 100%);
        }
    }

    &--yellow {
        background-image: url("../../images/popular-card/card-4.jpg");
        background-position: 50% 100%;

        &::before {
            content: '';
            width: 25%;
            height: 100%;
            position: absolute;
            left: 0;
            background: linear-gradient(90deg, #B87900 0%, rgba(95, 113, 148, 0) 100%);
        }
    }

    &--blue {
        background-image: url("../../images/popular-card/card-3.jpg");
        background-position: 50% 10%;

        &::before {
            content: '';
            width: 25%;
            height: 100%;
            position: absolute;
            left: 0;
            background: linear-gradient(90deg, #435069 0%, rgba(95, 113, 148, 0) 100%);
        }
    }

    @media (max-width: 440px) {
        display: none;
    }
}