$firstArtBackground: "../../images/chapter-backgrounds/art-first.jpg";
$firstMediaBackground: "../../images/chapter-backgrounds/media-first.jpg";
$firstProfBackground: "../../images/chapter-backgrounds/prof-first.jpg";
$firstCouchBackground: "../../images/chapter-backgrounds/couch-first.jpg";
$secondArtBackground: "../../images/chapter-backgrounds/art-second.svg";
$secondMediaBackground: "../../images/chapter-backgrounds/media-second.svg";
$secondProfBackground: "../../images/chapter-backgrounds/prof-second.svg";
$secondCouchBackground: "../../images/chapter-backgrounds/couch-second.svg";

.chapter-main {
  width: 100%;
  background-size: 100% 825px, 100% 825px;
  background-position: top, 0 825px;
  background-repeat: no-repeat, repeat;
  position: relative;

  @media (min-width: 1440px) {
    background-size: 100% 825px, 100% 1100px;
    background-position: top, 0 825px;
  }

  @media (max-width: 1024px) {
    background-size: 100% 670px, 100% 730px;
    background-position: top, 0 670px;
  }

  @media (max-width: 768px) {
    background-size: 100% 460px, 100% 460px;
    background-position: top, 0 460px;
  }

  @media (max-width: 440px) {
    background-image: none;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      opacity: 0.5;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.65) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.65) 80%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: auto;
    top: 825px;
    bottom: 0;
    left: 0;

    @media (max-width: 1024px) {
      top:670px;
      bottom: 0;
    }

    @media (max-width: 768px) {
      top:460px;
    }
  }

  &--art {
    background-image:
      url($firstArtBackground),
      url($secondArtBackground);

    @media (max-width: 440px) {
      background-image: url($firstArtBackground);
    }
  }

  &--media {
    background-image:
      url($firstMediaBackground),
      url($secondMediaBackground);

    @media (max-width: 440px) {
      background-image: url($firstMediaBackground);
    }
  }

  &--prof {
    background-image:
      url($firstProfBackground),
      url($secondProfBackground);

    @media (max-width: 440px) {
      background-image: url($firstProfBackground);
    }
  }

  &--couch {
    background-image:
      url($firstCouchBackground),
      url($secondCouchBackground);

    @media (max-width: 440px) {
      background-image: url($firstCouchBackground);
    }
  }
}
