$firstBackground: "../../images/chapter-backgrounds/art-first.jpg";
$secondBackground: "../../images/chapter-backgrounds/art-second.svg";
$thirdBackground: "../../images/chapter-backgrounds/art-second-rotate.svg";

.chapter-main {
  width: 100%;
  background:
    url($firstBackground) top no-repeat,
    linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.499124649859944) 50%, rgba(255, 255, 255, 1) 100%) 825px,
    url($secondBackground) 0 825px repeat;
  background-size: 100% 825px, 100% 100%, 100% 927px;
  position: relative;

  @media (min-width: 1440px) {
    background:
      url($firstBackground) top no-repeat,
      linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.499124649859944) 50%, rgba(255, 255, 255, 1) 100%) 825px,
      url($secondBackground) 0 825px repeat;
    background-size: 100% 825px, 100% 1100px;
  }

  @media (max-width: 1024px) {
    background:
      url($firstBackground) top no-repeat,
      linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.499124649859944) 50%, rgba(255, 255, 255, 1) 100%) 670px,
      url($secondBackground) 0 670px repeat;
    background-size: 100% 670px, 100% 730px;
  }

  @media (max-width: 768px) {
    background:
      url($firstBackground) top no-repeat,
      linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.499124649859944) 50%, rgba(255, 255, 255, 1) 100%) 455px,
      url($secondBackground) 0 455px repeat;
    background-size: 100% 460px, 100% 460px;
  }

  @media (max-width: 440px) {
    background: url("../../images/chapter-backgrounds/art-first.jpg") top no-repeat,
      url("../../images/chapter-backgrounds/art-second.jpg") 0 825px no-repeat;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      opacity: 0.5;
    }
  }
}