.rubric {
    border-bottom: 1px solid #000000;

    @media (max-width: 440px) {
        border-bottom: 0;
    }
}

.rubric__wrapper {
    max-width: 1365px;
    padding: 50px 37px;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 50px 10px;
    }

    @media (max-width: 440px) {
        padding: 28px 10px 0;
    }
}

.rubric__list {
    padding: 23px 0 0;
    box-sizing: border-box;
    display: flex;
    gap: 24px;

    @media (max-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 440px) {
        padding: 16px 0 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.rubric__link {
    max-width: 24%;

    @media (max-width: 1024px) {
        max-width: 100%;
    }
}