.about-article {
  border-bottom: 1px solid #000000;

  @media (max-width: 540px) {
    border: 0;
  }
}

.about-article__wrapper {
  max-width: 1365px;
  margin: 0 auto;
  padding: 67px 37px 12px;

  @media (max-width: 768px) {
    padding: 52px 10px 5px;
  }

  @media (max-width: 540px) {
    padding: 125px 18px 4px;
  }
}

.about-article__heading {
  font-family: $YesevaOne;
  font-weight: 400;
  font-size: 55px;
  line-height: 60px;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 41px;
    line-height: 47px;
  }

  @media (max-width: 440px) {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 8px;
  }
}

.about-article__description {
  max-width: 50%;
  margin-bottom: 20px;
  position: relative;
  display: flex;

  &::before {
    content: '';
    display: block;
    width: 500px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    left: -505px;
    top: 10px;

    @media (max-width: 1024px) {
      position: relative;
      width: 150px;
      left: 0;
    }

    @media (max-width: 540px) {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    gap: 10px;
    max-width: 80%;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 540px) {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  @media (max-width: 440px) {
    font-size: 14px;
    line-height: 131%;
  }
}

.about-article__content {
  display: grid;
  grid-template-columns: 59% 39%;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
  position: relative;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 540px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.about-article__content-img {
  width: 100%;
  object-fit: cover;
  max-height: 350px;
  border: 1px solid #161616;
  border-radius: 25px;

  @media (max-width: 768px) {
    height: 100%;
  }

  @media (max-width: 540px) {
    height: 287px;
  }
}

.about-article__content-text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & p {
    @media (max-width: 540px) {
      text-align: center;
      margin: 0 auto;
    }

    @media (max-width: 440px) {
      font-size: 14px;
      line-height: 131%;
    }
  }

  @media (max-width: 540px) {
    gap: 10px;
  }
}

.about-article__mobile-remark {
  position: absolute;
  font-family: $YesevaOne;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 131%;
  padding: 15px 25px;
  top: 0;

  color: #161616;

  & span {
    color: #ffffff;
  }

  @media (min-width: 540px) {
    display: none;
  }
}

.about-article__remark {
  font-family: $YesevaOne;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 131%;

  color: #161616;

  @media (max-width: 540px) {
    display: none;
  }
}