.nav-toggle {
    position: relative;
    background: transparent;
    border: 0;
}

.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle [class*='bar-'] {
    background: #000000;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;

    border-radius: 2px;
    height: 2.5px;
    width: 30px;
    margin-bottom: 5px;
}

.nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}