.popular {
    border-bottom: 1px solid #000000;
    padding: 60px 37px;

    @media (max-width: 768px) {
        padding: 50px 10px;
    }

    @media (max-width: 440px) {
        padding: 28px 0 0;
        border-bottom: 0;
    }
}

.popular__wrapper {
    max-width: 1365px;
    margin: 0 auto;
}

.popular__heading {
    max-width: 1365px;
    margin: 0 auto;

    @media (max-width: 440px) {
        padding: 0 10px;
    }
}

.popular__card-list {
    max-width: 1365px;
    margin: 0 auto;
    padding: 36px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;

    @media (max-width: 440px) {
        display: flex;
        gap: 0;
        padding: 15px 0 0;
        width: 90%;
    }
}